@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Email para contato com Programador @ViewData["Contato"]</p>

<address>
    <strong>Para mais informacoes</strong> <a href="https://github.com/PauloFelipeN"> Perfil GitHub</a>
</address>
