@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Formacao: Analise e desenvolvimento de Sistemas<br />
    Faculdade: Universidade Mogi das Cruzes<br />
    <abbr title="Phone">P:(11)9.5877-8084</abbr>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:paulo_felipe06@hotmail.com">Paulo_felipe06@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
